ion-content {
    --background: url('/assets/images/books2.jpg') no-repeat 100% 100%;
      
}
ion-button{
    margin-top:400px;
    margin-left:50px;
    
}
.fab[mini] {
    margin: 8px;
    width: 60px;
    height: 60px;
    line-height: 40px;
}