<ion-app>
  <ion-split-pane>
    <ion-menu side="start" type="overlay">
      <ion-header>
       <ion-toolbar>
          <ion-title>Menubar</ion-title>
        </ion-toolbar>
        
      </ion-header>
      <ion-content>
        <ion-menu-toggle>
          <ion-item [routerLink]="['tabs/tab1']">
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item *ngIf="!islogedin(); else elseBlock" [routerLink]="['login']">
            <ion-label>LogIn</ion-label>
          </ion-item>
          <ng-template #elseBlock>
            <ion-item>
              <ion-label (click)="logout()">LogOut</ion-label>
            </ion-item>
          </ng-template>
          <ion-item [routerLink]="['myorder']">
            <ion-label>My Orders</ion-label>
          </ion-item>
          <ion-item [routerLink]="['mybookshelf']">
            <ion-label>My BookShelf</ion-label>
          </ion-item>
          <ion-item [routerLink]="['manage-order']">
            <ion-label>Manage Orders</ion-label>
          </ion-item>
          <ion-item [routerLink]="['manage-books']">
            <ion-label>Manage Books</ion-label>
          </ion-item>
          
          <ion-item [routerLink]="['admin-book']">
            <ion-label>admin book</ion-label>
          </ion-item>
        </ion-menu-toggle>
          
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
