ion-fab-button {
    height: 65px;
    width: 65px;
  }
   
  .cart-icon {
    font-size: 50px;
  }
   
  .cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }
  .buy{
      position: relative;
      left:18px;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }
  