.thumbnail{
    width:50px;
    height:50px;
    border-radius: 100%;
    background-size: cover;
}
.row0{
    background-color:black;
}
.ion-card1{
    display: flex;
    flex-direction: column;
    width: 50% !important;
    margin: 0 !important;
    background-color:#F2F3F4;
}
.ion-card2{
    display: flex;
    flex-direction: column;
    width: 50% !important;
    margin: 0 !important;
}